.ask-min-price {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    z-index: 78;
}

.ask-min-price header {
    height: .6rem;
    line-height: .6rem;
    width: 100%;
    background: #79cd92;
    text-align: center;
    z-index: 99;
}

.ask-min-price header p {
    color: #fff;
    font-size: .3rem;
    display: inline-block;
}

.ask-min-price .content {
    -webkit-box-flex: 1;
    flex: 1;
    width: 100%;
    height: auto;
    background: #f4f4f4;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.q-info {
    display: flex;
    background: #fff;
    padding: .16rem .09rem .12rem;
    position: relative;
    height: 2rem;
    box-sizing: border-box;
}
.q-info img {
    width: 2.5rem;
    height: 1.6rem;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 5px;
}
.q-info p{
    font-size: .35rem;
    margin: .2rem 0;
    padding-left: .2rem;
    color: #777;
}

.self-info .tip {
    padding: 0 .1rem;
    height: .7rem;
    line-height: .7rem;
    font-size: .28rem;
    color: #666;
    background: #eee;
}

.self-info ul {
    background: #fff;
    padding: 0 .1rem;
}

.self-info ul li {
    font-size: .3rem;
    height: .8rem;
    line-height: .8rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    color: #000;
}

.self-info ul li input {
    font-size: .3rem;
    padding-right: .1rem;
    width: 88%;
    text-align: right;
    box-sizing: border-box;
    color: #555;
    border: none;
    background: none;
}

.quotation {
    background: #fff;
    text-align: center;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.quotation button {
    border: none;
    background: none;
    font-size: .3rem;
    color: #fff;
    width: 80%;
    background: #3aacff;
    height: .7rem;
    border-radius: .09rem;
}

.dealer-info .tip {
    padding: 0 .1rem;
    height: .7rem;
    line-height: .7rem;
    font-size: .28rem;
    color: #666;
    background: #eee;
}

.dealer-info ul {
    background: #fff;
    padding: 0 .2rem;
}

.dealer-info ul li {
    position: relative;
    padding: .13rem 0 .13rem .3rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    height: 1.8rem;
}

.dealer-info li:before {
    content: "";
    display: inline-block;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    border: 2px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    left: 0rem;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}
.dealer-info ul li p{
    margin-left: .2rem;
}
.dealer-info ul li p:first-child {
    font-size: .3rem;
    margin-top: .2rem;
}

.dealer-info li p:nth-child(2) {
    margin-top: .1rem;
    line-height: 1.4;
    font-size: .26rem;
    color: #a2a2a2;
}

.dealer-info li p:first-child span:last-child {
    font-size: .26rem;
    float: right;
    color: red;
}

.dealer-info li p:nth-child(2) span:first-child {
    display: inline-block;
    max-width: 5.6rem;
}

.dealer-info li p:nth-child(2) span:nth-child(2) {
    float: right;
}